<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp!</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/elementStyles.css">
    <link rel="stylesheet" href="../css/service.css">
    <link rel="stylesheet" href="../css/profile.css">
    

    <script>
        const user = localStorage.getItem("user");
        if (!user) {
            window.location.replace('https://server-bp9a.onrender.com/services');

        } else {
            const link = window.location.href.split("/");

            if (user !== link[link.length - 1]) {
                window.location.replace('https://server-bp9a.onrender.com/services');
            }
        }
    </script>

</head>

<body>
    {{> header}}
    <main>
        <div class="data">
            <div class="container">
                <div class="data__inner">
                    <div class="leftSide form">
                        {{#each user}}
                        <span>Логин</span>
                        <input type="text" value={{this.Name}} readonly>
                        <span>Почта</span>
                        <input type="text" value={{this.Email}} readonly>
                        {{/each}}
                        <button
                            onclick="localStorage.clear();  window.location.replace('https://server-bp9a.onrender.com/services');">Выйти</button>
                    </div>
                    <div class="rightSide">
                        <span>Ваши заявки:</span>
                        <ul>
                            {{#each services}}
                            <li>
                                <img src="{{this.image}}" width="100px">
                                <span>Название: {{this.title}} </span>
                                <span>Дата: {{this.date}} </span>
                                <span>Статус: {{this.status}} </span>
                            </li>
                            {{/each}}
                        </ul>

                    </div>
                </div>
            </div>
        </div>



    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></scrip >
</body >

</html >